<!-- MAIN PANEL -->
<div id="main" role="main"style="margin-top:30px !important;">

    <!-- RIBBON -->
    <div id="ribbon" style="display:none;">

        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>

        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Group</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- You can also add more buttons to the
        ribbon for further usability

        Example below:

        <span class="ribbon-button-alignment pull-right">
        <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
        <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
        <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
        </span> -->

    </div>
    <!-- END RIBBON -->
    <!-- MAIN CONTENT -->
    <div id="content"style="padding:0px;">


        <!-- widget grid -->
        <section id="widget-grid" class="">


            <!-- row -->

            <div class="row">

                <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
                    <div class="jarviswidget jarviswidget-color-darken jarviswidget-sortable" role="widget" style="position: relative; opacity: 1; left: 0px; top: 0px;">

                        <header role="heading">
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Group Master</h2>
                            <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                        </header>

                        <!-- widget div-->
                        <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->
                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <br />
                                <input type="button" value="Add Contractor" class="btn btn-success btn-xs" ng-click="AddRow(true)" ng-show="ngshow1" />
                                <input type="button" value="Bulk Upload" class="btn btn-success btn-xs" ng-click="UploadPopup(true)" ng-show="ngshow1" />
                                <b ng-show="ngshow1">
                                    Search :
                                    <input type="text" ng-model="Search" />
                                </b>
                                <div class="table-responsive" ng-show="ngshow1">
                                    <br />
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>SNO</th>
                                                <th>Group Name</th>
                                                <th>Group Code</th>
                                                <th>Phone No</th>
                                                <th>Address</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="pc in ContractorData | filter :  Search " style="text-align:center">
                                                <td>{{$index +1}}</td>
                                                <td>{{pc.ContractorName}}</td>
                                                <td>{{pc.ContractorCode}}</td>
                                                <td>{{pc.Phone}}</td>
                                                <td>{{pc.Address}}</td>
                                                <td>
                                                    <input type="button" class="btn btn-success btn-xs" ng-click="Edit(pc)" value="Edit" />
                                                    <!--<input ng-show="pc.StatusID !='10'&& pc.StatusID !='11'&&pc.StatusID !='17'" type="button" class="btn btn-success" ng-click="Delete(pc.StatusID)" value="Delete" />-->
                                                    <input type="button" class="btn btn-success btn-xs" ng-click="Delete(pc.Contractor_Id)" value="Delete" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="table-responsive" ng-show="ngshow2">

                                    <div class="row" style="margin:inherit">

                                        <div class="col-lg-2">
                                            <label>Group Name:</label>
                                        </div>

                                        <div class="col-lg-4">
                                            <input type="text" ng-model="ContractorName" required />
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Group Code:</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" ng-model="ContractorCode" required />
                                        </div>

                                    </div>
                                    <br />
                                    <div class="row" style="margin:inherit">
                                        <div class="col-lg-2">
                                            <label>Address:</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <textarea rows="2" cols="30" ng-model="Address"></textarea>
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Phone No.</label>
                                        </div>
                                        <div class="col-lg-4">
                                            <input type="text" ng-model="Phone" maxlength="10"   numbers-only/>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" style="margin:inherit">
                                        <div class="col-lg-10"></div>
                                        <div class="col-lg-1">
                                            <input type="button" class="btn btn-success" ng-click="AddContractor()" value="Save" />
                                        </div>
                                        <div class="col-lg-1">
                                            <input type="button" class="btn btn-success" ng-click="AddRow(false)" value="Back" />
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>

                                <div class="table-responsive" ng-show="EditShow">

                                  
                                    <div class="row" style="margin:inherit">
                                        
                                        <div class="col-lg-2">
                                            <label>Group Name:</label>
                                        </div>

                                        <div class="col-lg-4">
                                                <input type="text" ng-model="ContractorName" required />
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Group Code:</label>
                                        </div>
                                        <div class="col-lg-4">
                                                <input type="text" ng-model="ContractorCode" required />
                                        </div>
                                       
                                    </div>
                                    <br />
                                    <div class="row" style="margin:inherit">
                                        <div class="col-lg-2">
                                            <label>Address:</label>
                                        </div>
                                        <div class="col-lg-4">
                                                <textarea rows="2" cols="30" ng-model="Address"></textarea>
                                        </div>
                                        <div class="col-lg-2">
                                            <label>Phone No.</label>
                                        </div>
                                        <div class="col-lg-4">
                                                <input type="text" ng-model="Phone" maxlength="10" numbers-only />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" style="margin:inherit">
                                        <div class="col-lg-10"></div>
                                        <div class="col-lg-1">
                                            <input type="button" class="btn btn-success" ng-click="Update()" value="Update" />

                                        </div>
                                        <div class="col-lg-1">
                                            <input type="button" class="btn btn-success" ng-click="AddRow(false)" value="Back" />

                                        </div>
                                       
                                    </div>
                                   <br /><br />
                                </div>
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                </article>
            </div>

            <!-- end row -->

        </section>
        <!-- end widget grid -->

    </div>
    <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->

<script type="text/ng-template" id="Contractor.html">
    <div class="modal-header">
        <h3 class="modal-title">Group Master</h3>
    </div>
    <form style="margin: 15px;">
        <h2 class="hidden-xs hidden-sm">Upload Excel</h2>
        <fieldset>
            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="img1" file-model="file1" />
            <br />
            
            <a href="../Template/SampleContractors.xlsx">Download Template</a>

        </fieldset>
    </form>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="confirm()">
            Upload
        </button>
        <button class="btn btn-primary" type="button" ng-click="Cancel()">
            Cancel
        </button>

    </div>
</script>