<div id="main">
    <div id="ribbon" style="display:none;">
        <span class="ribbon-button-alignment">
            <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                <i class="fa fa-refresh"></i>
            </span>
        </span>
        <ol class="breadcrumb">
            <li>Dashboard</li>
            
        </ol>
        
</div>
    <div id="content">
        <div class="row">
            <div class="col-sm-3">
                <div class="dashboard-boxes-set bg-aqua" style="height:115px;">
                    <div class="inner">
                        <h3>{{DashBoardData.Total}}</h3>
                        <p>Total Job Card Enrolled</p>
                    </div><!--./inner-->
                    <div class="icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    </div><!--./icon-->
                    <!--<a href="#" class="box-footer">
                        View Details
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>-->
                </div><!--./dashboard-boxes-set-->
            </div><!--./col-sm-4-->
            <div class="col-sm-3">
                <div class="dashboard-boxes-set bg-green"style="height:115px;">
                    <div class="inner">
                        <h3>{{DashBoardData.Pending}}</h3>
                        <p>Pending Job Cards</p>
                    </div><!--./inner-->
                    <div class="icon">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                    </div><!--./icon-->
                    <!--<a href="#" class="box-footer">
                        View Details
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>-->
                </div><!--./dashboard-boxes-set-->
            </div><!--./col-sm-4-->
            <div class="col-sm-3">
                <div class="dashboard-boxes-set bg-blue"style="height:115px;">
                    <div class="inner">
                        <h3>{{DashBoardData.Ready}}</h3>
                        <p>Job Cards Ready For Delivery</p>
                    </div><!--./inner-->
                    <div class="icon">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </div><!--./icon-->
                    <!--<a href="#" class="box-footer">
                        View Details
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>-->
                </div><!--./dashboard-boxes-set-->
            </div><!--./col-sm-4-->
            <div class="col-sm-3">
                <div class="dashboard-boxes-set bg-yellow"style="height:115px;">
                    <div class="inner">
                        <h3>{{DashBoardData.Delivered}}</h3>
                        <p>Job Cards Delivered</p>
                    </div><!--./inner-->
                    <div class="icon">
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div><!--./icon-->
                    <!--<a href="#/" class="box-footer">
                        View Details
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </a>-->
                </div><!--./dashboard-boxes-set-->
            </div><!--./col-sm-4-->



        </div><!--./row-->



    </div>


</div>